.go-to-date {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px 10px;
  
  input { 
    width: 40px; 
    margin-right: 5px;
  }
  select { 
    width: 90px; 
    margin-right: 5px;
  }
}